@import "../../assets/scss/variables";

.input {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
  display: block;
  width: 100%;

  &::placeholder {
    color: $accent-color;
  }
}
